<div class="c-card">
  <div class="c-card__title" *ngIf="playerId$ | async as playerId">
    <a [routerLink]="['/', 'player', playerId]">
      < Back to overview
    </a>
  </div>
</div>

<div class="o-container o-container--center" *ngIf="hero$ | async as hero">
  <square-image
    class="u-shape-rounded-square"
    [style.width.px]="100"
    [image]="hero | heroImage"
  ></square-image>

  <h1 class="u-1/1 u-text-center">{{ hero | heroName }}</h1>
</div>

<ng-container *ngIf="stats$ | async as stats">
    <div *ngIf="stats && stats.loading && !stats.entry; then loading else notLoading;"></div>

    <ng-template #loading>
      <loading-spinner ></loading-spinner>
    </ng-template>

    <ng-template #notLoading>

      <main class="o-grid o-grid--inside" *ngIf="hero$ | async as hero">
        <section class="o-grid__item u-1/1 u-2/6@desktop">
          <lifetime-stats-card
            [stats]="stats.entry[hero].total">
          </lifetime-stats-card>
        </section>

        <section class="o-grid__item u-1/1 u-6/6@tablet u-4/6@desktop">

          <article *ngIf="getAverageStats(stats.entry[hero]) as avgStats">
            <div class="c-card c-card--highlight">
              <div class="c-card__title" *ngIf="playerId$ | async as playerId">
                Average Game Stats
              </div>
            </div>

            <hero-stats
              [stats]="avgStats"
            ></hero-stats>
          </article>

          <!-- Best -->
          <article *ngIf="getBestStats(stats.entry[hero]) as bestStats">
            <div class="c-card c-card--highlight">
              <div class="c-card__title" *ngIf="playerId$ | async as playerId">
                Best Game Stats
              </div>
            </div>

            <hero-stats
              [stats]="bestStats"
            ></hero-stats>
          </article>
        </section>
      </main>
    </ng-template>
  </ng-container>
