<app-navigation></app-navigation>

<div class="c-player-profile" *ngIf="stats$ | async as stats">
  <div class="o-container" *ngIf="getPlayerStats(stats.entry) as playerStats">
    <div class="o-grid o-grid--inside o-grid--justify-between">
      <div class="o-grid__item o-flag">
        <hero-image
          class="o-flag__figure"
          [style.width.px]="80"
          [hero]="getMostPlayedHero(stats.entry)"
        ></hero-image>

        <div class="o-flag__body">
            <div class="c-player-profile__name">
              {{ playerId$ | async }}
            </div>

            <div class="c-player-profile__actions">
              <app-button
                class="c-button--primary"
                [loading]="stats.loading"
                (clicked)="reloadData()"
              >
                {{ "profile:reload-data" | translate }}
              </app-button>

              <app-button
                class="c-button--primary"
                [disabled]="true"
              >
                {{ "profile:follow" | translate }}
              </app-button>
            </div>
        </div>
      </div>

      <div class="o-grid__item o-grid o-grid--inside-half u-1/1 u-2/3@tablet u-1/2@desktop">
        <div class="o-grid__item u-1/2 u-1/3@tablet">
          <stat-card [value]="playerStats.skill" class="u-baseline-none">
            {{ "stats:skill-points" | translate }}
          </stat-card>
        </div>

        <div class="o-grid__item u-1/2 u-1/3@tablet">
          <stat-card [value]="(playerStats.winrate | round) + '%'" class="u-baseline-none">
            {{ "stats:winrate" | translate }}
          </stat-card>
        </div>

        <div class="o-grid__item u-1/2 u-1/3@tablet">
          <stat-card [value]="playerStats.kda | round" class="u-baseline-none">
            {{ "stats:kda" | translate }}
          </stat-card>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="o-container">
  <router-outlet></router-outlet>
</div>
