<article class="c-hero-card">
  <div class="c-card u-baseline-none">
    <div class="c-card__body c-card__body--hero c-hero-card__upper">
      <div class="o-flag o-flag--fit u-1/2">
        <div class="o-flag__figure">
          <hero-image
            [style.width.px]="50"
            [hero]="stats.hero"
          ></hero-image>
        </div>

        <div class="o-flag__body">
          {{ stats.hero | heroName }}

          <div class="u-hidden-mobile">
            <span class="u-color-saturated u-font-small">
                {{ stats.games.total | shortenValue }} {{ 'stats:games' | translate }}
              </span>

              -

              <span class="u-color-saturated u-font-small">
                {{ stats.games.hours | round }} {{ 'stats:hours' | translate }}
              </span>
          </div>
        </div>
      </div>

      <primary-stat
        [description]="'stats:kda' | translate"
        class="u-color-primary"
      >{{ stats.kda.value | round }}</primary-stat>

      <div class="u-hidden-mobile">
        <primary-stat
          [description]="'stats:win-loss' | translate"
        >
          <span class="u-color-success">{{ stats.games.wins | round | shortenValue }}</span>
          -
          <span class="u-color-failure">{{ stats.games.losses | round | shortenValue }}</span>
        </primary-stat>
      </div>

      <primary-stat
        [description]="'stats:winrate' | translate"
        class="u-color-success"
      >{{ stats.games.winrate | round }}%</primary-stat>
    </div>
  </div>

  <div class="c-hero-card__body o-grid o-grid--justify-between">
    <div class="c-hero-card__body__item o-grid__item">
      <stat-bar
        class="c-hero-card__item"
        [name]="'stats:kills' | translate"
        [description]="'stats:per-min' | translate"
        [value]="stats.kills.value | round"
        [percentage]="stats.kills.percentage"
        [color]="stats.hero | heroColor"
      ></stat-bar>
    </div>

    <div class="c-hero-card__body__item o-grid__item">
      <stat-bar
        class="c-hero-card__item"
        [name]="'stats:deaths' | translate"
        [description]="'stats:per-min' | translate"
        [value]="stats.deaths.value | round"
        [percentage]="stats.deaths.percentage"
        [color]="stats.hero | heroColor"
      ></stat-bar>
    </div>

    <div class="c-hero-card__body__item o-grid__item">
      <stat-bar
        class="c-hero-card__item"
        [name]="'stats:assists' | translate"
        [description]="'stats:per-min' | translate"
        [value]="stats.assists.value | round"
        [percentage]="stats.assists.percentage"
        [color]="stats.hero | heroColor"
      ></stat-bar>
    </div>

    <div class="c-hero-card__body__item o-grid__item u-hidden-mobile">
      <stat-bar
        *ngIf="stats.damage.value >= stats.heal.value"
        class="c-hero-card__item"
        [name]="'stats:damage' | translate"
        [description]="'stats:per-min' | translate"
        [value]="stats.damage.value | round"
        [percentage]="stats.damage.percentage"
        [color]="stats.hero | heroColor"
      ></stat-bar>

      <stat-bar
        *ngIf="stats.damage.value < stats.heal.value"
        class="c-hero-card__item"
        [name]="'stats:healing' | translate"
        [description]="'stats:per-min' | translate"
        [value]="stats.heal.value | round"
        [percentage]="stats.heal.percentage"
        [color]="stats.hero | heroColor"
      ></stat-bar>
    </div>
  </div>
</article>
