<div class="c-card c-skeleton">
  <div class="c-card__title">
    {{ "stats:lifetime" | translate }}
  </div>

  <div class="c-card__title c-card__title--subtitle">
    {{ "stats:overall" | translate }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:games" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:wins" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:losses" | translate }}
    </span>

      <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:medals-earned" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:wounds-given" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:power-earned" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:summons" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <!-- Combat  -->
  <div class="c-card__title c-card__title--subtitle">
    {{ "stats:combat" | translate }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:kills" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:deaths" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:assists" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:damage-dealt" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:healed" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:damage-taken" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:guardian-damage" | translate }}
    </span>

    <div class="c-skeleton__text c-skeleton__text--tiny"></div>
  </div>
</div>
