<div class="c-card">
  <div class="c-card__title">
    {{ "stats:role-performance" | translate }}
  </div>

  <div class="c-card__body c-card__body--hero" *ngFor="let tagStats of stats">
    <div class="c-card__body__title">
      {{ tagStats.tag }} -

      <span class="u-color-saturated">
        {{ tagStats.games.hours | round }} {{ "stats:hours" | translate }}
      </span>
    </div>

    <primary-stat
      [description]="'stats:kda' | translate"
      class="u-color-primary"
    >{{ tagStats.kda | round }}</primary-stat>

    <div class="u-hidden-mobile">
      <primary-stat
        [description]="'stats:win-loss' | translate"
      >
        <span class="u-color-success">{{ tagStats.games.wins | shortenValue }}</span>
        -
        <span class="u-color-failure">{{ tagStats.games.losses | shortenValue }}</span>
      </primary-stat>
    </div>

    <primary-stat
      [description]="'stats:winrate' | translate"
      class="u-color-success"
    >{{ tagStats.games.winrate | round }}%</primary-stat>
  </div>
</div>
