/* ==========================================================================
   #BACKGROUND
   ========================================================================== */

.c-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;

  &::after {
    content: "";
    //background-color: transparentize(darken(#0D3643, 15%), 0.25);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}
