/* ==========================================================================
   #HERO
   ========================================================================== */

.c-hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 250px;
  min-height: 25vh;
}

.c-hero--lean {
  padding-top: 100px;
  padding-bottom: 75px;
}

.c-hero__logo {
  width: 100%;
  max-width: 250px;
  height: 100%;
  margin-bottom: 2.5rem;
}
