/* ==========================================================================
   #INPUT
   ========================================================================== */

.c-input {
  font-size: 0.86em;
  border-radius: 2px;
  padding: 0.5em 1em;
  line-height: 1;
  border: 0;
}

.c-input--dark {
  background-color: lighten(#252d38, 3%);
  outline: 0;
  color: #ddd;
}


.c-input--huge {
  font-size: 1em;
  padding: 0.75em;
}
