/* ==========================================================================
   #MEDIA BOX
   ========================================================================== */

.c-media-box {
  position: relative;
  overflow: hidden;
}

.c-media-box__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
