/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

.c-navigation {
  background-color: #121d2f;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.c-navigation__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.c-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.c-navigation__list-item {
  display: flex;
}

.c-navigation__link {
  text-decoration: none;
  padding: 0.25em;
}
