/* ==========================================================================
   #PLAYER PROFILE
   ========================================================================== */

.c-player-profile {
  background-color: $play-color-secondary;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @extend %baseline;
}

.c-player-profile__name {
  font-size: 1.5em;
  color: #fff;
}

.c-player-profile__actions {
  margin-top: 0.5em;
}
