/* ==========================================================================
   #PLAYER PROFILE
   ========================================================================== */

.c-player-profile {
  background-color: $play-color-secondary;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.c-player-profile__name {
  font-size: 1.5em;
  color: #fff;
}
