/* ==========================================================================
   #PRIMARY STAT
   ========================================================================== */

.c-primary-stat {
  text-align: right;
}

.c-primary-stat__value {
  font-weight: 500;
}

.c-primary-stat__description {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.75em;
}
