/* ==========================================================================
   #SUBTITLE
   ========================================================================== */

.c-subtitle {
  text-transform: uppercase;
  font-size: 0.75rem;
}
