<article class="c-highlight">
  <div class="o-container">
    <h2 class="c-highlight__title c-highlight__title--main">We provide important data to Gigantic players</h2>

    <div class="o-grid o-grid--center">
      <div class="o-grid__item u-1/1 u-1/2@tablet u-1/3@desktop">
        <h3 class="c-highlight__title">Looking up players</h3>

        <img src="assets/landing/search-icon.svg" class="c-highlight__illustration">

        <p class="c-highlight__text">
          Unlike other sites, Grenn does not need your full name to find you. Just enter an excerp of your name and the system will be able to find you
          and provide valuable data.
        </p>
      </div>

      <div class="o-grid__item u-1/1 u-1/2@tablet u-1/3@desktop">
        <h3 class="c-highlight__title">Checkout player performance</h3>

        <img src="assets/landing/stats-icon.svg" class="c-highlight__illustration">

        <p class="c-highlight__text">
          Are you curious about how well you are doing in Gigantic? Tell no more fam we've got your back. You are able to see the important
          stats that you need to improve your game.
        </p>
      </div>
    </div>
  </div>
</article>


<footer class="u-background-secondary u-color-white c-footer">
  <div class="o-container u-text-center">
    {{ "general:disclaimer" | translate }}
  </div>
</footer>
