<article class="c-highlight">
  <div class="o-container">
    <h2 class="c-highlight__title c-highlight__title--main">We provide important data to gigantic players</h2>

    <div class="o-grid">
      <div class="o-grid__item u-1/1 u-1/2@tablet u-1/3@desktop">
        <h3 class="c-highlight__title">Looking up players</h3>

        <img src="assets/landing/search-icon.svg" class="c-highlight__illustration">

        <p class="c-highlight__text">
          The system doesn't need the full name to find the player your a looking for. Just enter the start of the name and the system
          will find the player you are looking for.
        </p>
      </div>

      <div class="o-grid__item u-1/1 u-1/2@tablet u-1/3@desktop">
        <h3 class="c-highlight__title">Checkout player performance</h3>

        <img src="assets/landing/stats-icon.svg" class="c-highlight__illustration">

        <p class="c-highlight__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptate pariatur eius, enim provident ducimus est excepturi,
            mollitia consectetur labore possimus. Sunt maiores omnis veniam unde obcaecati molestias perferendis, ut.
        </p>
      </div>

      <div class="o-grid__item u-1/1 u-1/2@tablet u-1/3@desktop">
        <h3 class="c-highlight__title">The features you need</h3>

        <img src="assets/landing/block-icon.svg" class="c-highlight__illustration">

        <p class="c-highlight__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptate pariatur eius, enim provident ducimus est excepturi,
          mollitia consectetur labore possimus. Sunt maiores omnis veniam unde obcaecati molestias perferendis, ut.
        </p>
      </div>
    </div>
  </div>
</article>
