<!-- <ngx-charts-advanced-pie-chart
  *ngIf="stats$ | async as stats"
  [scheme]="'cool'"
  [results]="getTimeData(stats.entry)"
></ngx-charts-advanced-pie-chart> -->

<ng-container *ngIf="stats$ | async as stats">
  <div *ngIf="stats && stats.loading && !stats.entry; then loading else loading;"></div>

  <ng-template #loading>
    <player-profile-skeleton></player-profile-skeleton>
  </ng-template>

  <ng-template #notLoading>

    <div class="o-grid o-grid--inside">
      <section class="o-grid__item u-1/1 u-2/6@desktop">
        <tag-card
          [stats]="getTagStats(stats.entry) | async"
        ></tag-card>

        <lifetime-stats-card
          [stats]="stats.entry.all.total">
        </lifetime-stats-card>
      </section>

      <section class="o-grid__item u-1/1 u-6/6@tablet u-4/6@desktop">
        <a
          class="u-link--none"
          *ngFor="let heroStats of getHeroStats(stats.entry)"
          [routerLink]="[heroStats.hero]"
        >
            <hero-card [stats]="heroStats"></hero-card>
        </a>
      </section>
    </div>

  </ng-template>
</ng-container>
