<div class="o-grid o-grid--inside">
  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:kda" | translate }}
    </stat-card-skeleton>
  </div>

  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:kills" | translate }}
    </stat-card-skeleton>
  </div>

  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:assists" | translate }}
    </stat-card-skeleton>
  </div>

  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:deaths" | translate }}
    </stat-card-skeleton>
  </div>

  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:damage" | translate }}
    </stat-card-skeleton>
  </div>

  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:healed" | translate }}
    </stat-card-skeleton>
  </div>

  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:damage-taken" | translate }}
    </stat-card-skeleton>
  </div>

  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:summons" | translate }}
    </stat-card-skeleton>
  </div>

  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:medals-earned" | translate }}
    </stat-card-skeleton>
  </div>

  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:guardian-damage" | translate }}
    </stat-card-skeleton>
  </div>

  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:wounds-given" | translate }}
    </stat-card-skeleton>
  </div>

  <div class="o-grid__item u-1/1 u-1/3@tablet">
    <stat-card-skeleton class="c-stat-card--light">
      {{ "stats:power-earned" | translate }}
    </stat-card-skeleton>
  </div>
</div>
