/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875em;
}
