/* ==========================================================================
   #BACKGROUND
   ========================================================================== */

/**
 * Utility classes to change the background color of elements.
 *
 * @atom Background
 * @section Utility
 * @modifiers
 *  .u-background-primary Sets the background color to the primary color
 *  .u-background-primary-accent Sets the background color to the primary accent color
 *  .u-background-secondary Sets the background color to the secondary color
 *  .u-background-saturated Sets the background color to the saturated color
 *  .u-background-saturated-accent Sets the background color to the saturated accent color
 * @markup
 *  <div class="u-background-primary" style="width: 350px; height: 250px;"></div>
 */

.u-background-primary {
  background-color: $play-color-primary;
}

.u-background-primary-accent {
  background-color: $play-color-primary-accent;
}

.u-background-secondary {
  background-color: $play-color-secondary;
}

.u-background-saturated {
  background-color: $play-color-saturated;
}

.u-background-saturated-accent {
  background-color: $play-color-saturated-accent;
}

.u-background-white {
  background-color: #fff;
}

.u-background-gigantic {
  position: relative;
  background-color: transparentize($play-color-secondary, 0.1);

  &::after {
    content: "";
    background-image: url("assets/landing/gigantic_background.jpg");
    background-attachment: fixed;
    background-position: center -250px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
