/* ==========================================================================
   #PULL
   ========================================================================== */


/**
 * Utility classes to float elements.
 *
 * @atom Pull
 * @section Utility
 * @modifiers
 *  .u-pull-left Floats the element to the left side
 *  .u-pull-right Floats the element to the right side
 * @markup
 *  <div class="u-pull-left" style="width: 350px; height: 250px; background: #e5e5e5;">Left</div>
 *  <div class="u-pull-right" style="width: 350px; height: 250px; background: #e5e5e5;">Right</div>
 */

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

