/* ==========================================================================
   #WIDTH
   ========================================================================== */

@mixin grid-widths($columns, $breakpoint: null) {
  // Loop through the number of columns for each denominator of our fractions.
  @each $denominator in $columns {
    // Begin creating a numerator for our fraction up until we hit the
    // denominator.
    @for $numerator from 1 through $denominator {
      // Build a class in the format `.u-3/4[@<breakpoint>]`.
      .u-#{$numerator}#{\/}#{$denominator}#{$breakpoint} {
        width: ($numerator / $denominator) * 100%;
      }
    }
  }
  .u-auto#{$breakpoint} {
    flex: 1;
  }
}

@include grid-widths(1 2 3 4 5 6 7);

@include media-query("tablet") {
  @include grid-widths(1 2 3 4 5 6 7, #{\@ + "tablet"});
}

@include media-query("desktop") {
  @include grid-widths(1 2 3 4 5 6 7, #{\@ + "desktop"});
}

@include media-query("big") {
  @include grid-widths(1 2 3 4 5 6 7, #{\@ + "big"});
}