<main class="o-grid o-grid--inside">
  <section class="o-grid__item u-1/1 u-2/6@desktop">
    <lifetime-stats-card-skeleton></lifetime-stats-card-skeleton>
  </section>

  <section class="o-grid__item u-1/1 u-6/6@tablet u-4/6@desktop">

    <article>
      <div class="c-card c-card--highlight">
        <div class="c-card__title">
          Average Game Stats
        </div>
      </div>

      <hero-stats-skeleton></hero-stats-skeleton>
    </article>

    <article>
      <div class="c-card c-card--highlight">
        <div class="c-card__title">
          Best Game Stats
        </div>
      </div>

      <hero-stats-skeleton></hero-stats-skeleton>
    </article>
  </section>
</main>
