<div class="c-card">
  <div class="c-card__title">
    {{ "stats:lifetime" | translate }}
  </div>

  <div class="c-card__title c-card__title--subtitle">
    {{ "stats:overall" | translate }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:games" | translate }}
    </span>

    {{ stats.total_games }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:wins" | translate }}
    </span>

    {{ stats.wins }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:losses" | translate }}
    </span>

      {{ stats.losses }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:medals-earned" | translate }}
    </span>

    {{ stats.medals_earned }}
  </div>

  <!-- Combat  -->
  <div class="c-card__title c-card__title--subtitle">
    {{ "stats:combat" | translate }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:kills" | translate }}
    </span>

    {{ stats.kills }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:deaths" | translate }}
    </span>

    {{ stats.deaths }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:assists" | translate }}
    </span>

    {{ stats.assists }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:damage-dealt" | translate }}
    </span>

    {{ stats.damage_dealt }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:healed" | translate }}
    </span>

    {{ stats.healing_given }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:damage-taken" | translate }}
    </span>

    {{ stats.damage_soaked }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:guardian-damage" | translate }}
    </span>

    {{ stats.guardian_damage }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:wounds-given" | translate }}
    </span>

    {{ stats.wounds_given }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:power-earned" | translate }}
    </span>

    {{ stats.power_score }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:summons" | translate }}
    </span>

    {{ stats.summons }}
  </div>
</div>
