<div class="c-card">
  <div class="c-card__title">
    {{ "stats:lifetime" | translate }}
  </div>

  <div class="c-card__title c-card__title--subtitle">
    {{ "stats:overall" | translate }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:games" | translate }}
    </span>

    {{ stats.total_games | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:wins" | translate }}
    </span>

    {{ stats.wins | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:losses" | translate }}
    </span>

      {{ stats.losses | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:medals-earned" | translate }}
    </span>

    {{ stats.medals_earned | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:wounds-given" | translate }}
    </span>

    {{ stats.wounds_given | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:power-earned" | translate }}
    </span>

    {{ stats.power_score | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:summons" | translate }}
    </span>

    {{ stats.summons | shortenValue }}
  </div>

  <!-- Combat  -->
  <div class="c-card__title c-card__title--subtitle">
    {{ "stats:combat" | translate }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:kills" | translate }}
    </span>

    {{ stats.kills | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:deaths" | translate }}
    </span>

    {{ stats.deaths | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:assists" | translate }}
    </span>

    {{ stats.assists | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:damage-dealt" | translate }}
    </span>

    {{ stats.damage_dealt | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:healed" | translate }}
    </span>

    {{ stats.healing_given | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:damage-taken" | translate }}
    </span>

    {{ stats.damage_soaked | shortenValue }}
  </div>

  <div class="c-card__body c-card__body--stats">
    <span class="c-subtitle">
      {{ "stats:guardian-damage" | translate }}
    </span>

    {{ stats.guardian_damage | shortenValue }}
  </div>
</div>
