<header class="c-hero c-hero--lean u-background-gigantic">
  <div class="o-container o-container--center">
      <img
        src="assets/logo.svg"
        class="c-hero__logo"
        [alt]="'commons:logo-title' | translate"
        [title]="'commons:logo-title' | translate"
      >
  </div>

  <form class="o-container o-container--center" (ngSubmit)="search(playerName); closeSuggestion();">
    <div class="p-search-wrapper" (clickOutside)="closeSuggestion()">
      <input
        type="search"
        class="c-input c-input--dark c-input--huge p-search-input"
        name="playerName"
        autofocus
        autocomplete="off"
        [ngModel]="history$ | async"
        (ngModelChange)="playerName = $event"
        [placeholder]="'search:enter-name' | translate"
        (click)="openSuggestion()"
      >

      <suggestion-box
        *ngIf="openBox$ | async"
      ></suggestion-box>
    </div>
  </form>
</header>

<router-outlet></router-outlet>
