<header class="c-hero c-hero--lean u-background-secondary">
  <div class="o-container o-container--center">
      <img
        src="assets/logo-text.svg"
        class="c-hero__logo"
        [alt]="'commons:logo-title' | translate"
        [title]="'commons:logo-title' | translate"
      >
  </div>

  <form class="o-container o-container--center" (ngSubmit)="search(playerName);">
    <input
      type="search"
      class="c-input c-input--dark c-input--huge p-search-input"
      name="playerName"
      autofocus
      [ngModel]="history$ | async"
      (ngModelChange)="playerName = $event"
      [placeholder]="'search:enter-name' | translate"
    >
  </form>
</header>

<router-outlet></router-outlet>
