<nav class="c-navigation">
  <div class="o-container c-navigation__wrapper">
    <ul class="c-navigation__list">
      <li class="c-navigation__list-item">
        <a routerLink="/" class="c-navigation__link">Home</a>
      </li>
    </ul>

    <form (ngSubmit)="search(playerName);">
      <input
        type="search"
        class="c-input c-input--dark"
        name="playerName"
        [ngModel]="history$ | async"
        (ngModelChange)="playerName = $event"
        [placeholder]="'search:enter-name' | translate"
      >
    </form>
  </div>
</nav>
