<div class="c-card">
  <div class="c-card__title">
    {{ "stats:role-performance" | translate }}
  </div>

  <div class="c-card__body c-card__body--hero">
      <div class="c-card__body__title">
        <div class="c-skeleton__text c-skeleton__text--full"></div>
      </div>

      <primary-stat
        [description]="'stats:kda' | translate"
        class="u-color-primary"
      >
        <div class="c-skeleton__text c-skeleton__text--full"></div>
      </primary-stat>

      <div class="u-hidden-mobile">
        <primary-stat
          [description]="'stats:win-loss' | translate"
        >
          <div class="c-skeleton__text c-skeleton__text--full"></div>
        </primary-stat>
      </div>

      <primary-stat
        [description]="'stats:winrate' | translate"
        class="u-color-success"
      >
        <div class="c-skeleton__text c-skeleton__text--full"></div>
      </primary-stat>
  </div>

  <div class="c-card__body c-card__body--hero">
    <div class="c-card__body__title">
      <div class="c-skeleton__text c-skeleton__text--full"></div>
    </div>

    <primary-stat
      [description]="'stats:kda' | translate"
      class="u-color-primary"
    >
      <div class="c-skeleton__text c-skeleton__text--full"></div>
    </primary-stat>

    <div class="u-hidden-mobile">
      <primary-stat
        [description]="'stats:win-loss' | translate"
      >
        <div class="c-skeleton__text c-skeleton__text--full"></div>
      </primary-stat>
    </div>

    <primary-stat
      [description]="'stats:winrate' | translate"
      class="u-color-success"
    >
      <div class="c-skeleton__text c-skeleton__text--full"></div>
    </primary-stat>
  </div>

  <div class="c-card__body c-card__body--hero">
    <div class="c-card__body__title">
      <div class="c-skeleton__text c-skeleton__text--full"></div>
    </div>

    <primary-stat
      [description]="'stats:kda' | translate"
      class="u-color-primary"
    >
      <div class="c-skeleton__text c-skeleton__text--full"></div>
    </primary-stat>

    <div class="u-hidden-mobile">
      <primary-stat
        [description]="'stats:win-loss' | translate"
      >
        <div class="c-skeleton__text c-skeleton__text--full"></div>
      </primary-stat>
    </div>

    <primary-stat
      [description]="'stats:winrate' | translate"
      class="u-color-success"
    >
      <div class="c-skeleton__text c-skeleton__text--full"></div>
    </primary-stat>
  </div>

  <div class="c-card__body c-card__body--hero">
    <div class="c-card__body__title">
      <div class="c-skeleton__text c-skeleton__text--full"></div>
    </div>

    <primary-stat
      [description]="'stats:kda' | translate"
      class="u-color-primary"
    >
      <div class="c-skeleton__text c-skeleton__text--full"></div>
    </primary-stat>

    <div class="u-hidden-mobile">
      <primary-stat
        [description]="'stats:win-loss' | translate"
      >
        <div class="c-skeleton__text c-skeleton__text--full"></div>
      </primary-stat>
    </div>

    <primary-stat
      [description]="'stats:winrate' | translate"
      class="u-color-success"
    >
      <div class="c-skeleton__text c-skeleton__text--full"></div>
    </primary-stat>
  </div>
</div>
